.contenedor-examen {
  max-width: 600px;
  margin: 50px auto;
  background: #f9f9f9;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contenedor-examen h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contenedor-examen p {
  margin-bottom: 20px;
}

.contenedor-examen select,
.contenedor-examen input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.contenedor-examen button {
  padding: 12px 25px;
  background-color: #035b6e;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

.contenedor-examen button:hover {
  background-color: #027a91;
}

.error {
  color: red;
  margin-top: 20px;
}


